.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    border: solid 1.5px #6751b9 ;
    border-radius: 0.6rem;
}
.span-container {
    width: 15%;
    font-size: 0.9rem;
    color: #fff;
    background: #130f2a;
    border-radius: 0.6rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    text-align: center;
    margin: 4rem;
}
span {
    font-size: 2rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.header .time,
.header .points {
    font-size: 1.2rem;
    color: #fff;
    background: #130f2a;
    border-radius: 0.6rem;
    border: 1.5px solid #6751b9;
    padding: 0.7rem;
    flex: 1;
    max-width: 150px;
    text-align: center;
}

.game-display {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
}
.contadores {
    margin: 1rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#container button {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    border: 1px solid #a892fe;
    background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
    padding: 1rem;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 1rem 2rem;
}

#container button:hover {
    color: #a892fe;
    background: transparent;
}

@media (max-width: 450px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .header .time,
    .header .points {
        max-width: none;
    }
    #container button {
        font-size: 0.9rem;
        padding: 0.7rem;
        border-radius: 0.3rem;
    }
}